<h1>Cadastro de dados</h1>
<form>
    <table>
        <tr>
            <td><label htmlFor="modelo">Modelo do carro: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="modelo" [(ngModel)]="dadosFormulario.modelo"></td>
        </tr>
        <tr>
            <td><label htmlFor="ano">Ano do carro: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="ano" [(ngModel)]="dadosFormulario.ano"></td>
        </tr>
        <tr>
            <td><label htmlFor="nome">Nome completo do aluno: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="nome" [(ngModel)]="dadosFormulario.nome"></td>
        </tr>
        <tr>
            <td><label htmlFor="matricula">Matrícula: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="matricula" [(ngModel)]="dadosFormulario.matricula"></td>
        </tr>
        <tr>
            <td><label htmlFor="codigo">Código da etiqueta: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="codigo" [(ngModel)]="dadosFormulario.codigo"></td>
        </tr>
        <tr>
            <td><label htmlFor="cnh">CNH é válida?</label></td>
            <td><p-checkbox [(ngModel)]="dadosFormulario.cnh" [binary]="true" inputId="cnh"></p-checkbox></td>
        </tr>
        <tr>
            <td><p-button (onclick)="addDados()">Enviar</p-button></td>
        </tr>
    </table>
</form>