.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid;
    border: 1px solid;
  }
  
  .table th {
    background-color: #02047a;
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #02047a;
  }
  
  .table tbody tr:hover {
    background-color: #02047a;
  }
  
h2 {
    text-align: center;
}
