<p-table>
    <ng-template p-template="header">
        <tr>
            <th>Modelo do carro</th>
            <th>Ano do carro</th>
            <th>Nome do aluno/servidor</th>
            <th>Matrícula</th>
            <th>Código da etiqueta</th>
            <th>CNH válida</th>
        </tr>
    </ng-template>
    <ng-template p-template="body">
        <tr *ngFor="let dado of dadosFormulario">
            <td> {{ dado.modelo }} </td>
            <td> {{ dado.ano }} </td>
            <td> {{ dado.nome }} </td>
            <td> {{ dado.matricula }} </td>
            <td> {{ dado.codigo }} </td>
            <td> {{ dado.cnh }} </td>
        </tr>
    </ng-template>
</p-table>